body {
	margin: 0;
	background-color: #e1e7ef;
}
.container {
	text-align: center;
	color: #fff;
}			
img {				
	border: 1px solid #ccc;
	border-top: none;
	margin-top: 40px;
}			
header {
	background: #474747;
	-webkit-box-shadow: 0 0 2px #444;
	-moz-box-shadow: 0 0 2px #444;
	box-shadow: 0 0 2px #444;
	border-bottom: 1px solid #000;
  
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  padding: 10px 0;			
}
.btn { 
	background: #f5f7f7; 
	border: 1px solid #ccc;
	padding: 4px 8px; 
	text-decoration: none;
	font-size: 0.9em;
	cursor: pointer;
	
    -moz-border-radius: 2px; 
  	-webkit-border-radius: 2px; 
    border-radius: 2px;     
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box;
	background-clip: padding-box; 
	font-family: "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
}

.btn:hover {
	background-color: #eaeeee; 
	background-image: none; 
	border-color: #aaa;
	color: #555;
	text-decoration: none;
	
	-webkit-box-shadow: 0 0 3px #eee;
	-moz-box-shadow: 0 0 3px #eee;
	box-shadow: 0 0 3px #eee;
}

.btn:active { 
  -moz-box-shadow: inset 0 0 8px 4px #ccc, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #ccc, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #ccc, 0 1px 0 0 #eee; 
  border-color: #888; 
}

.primary { 
	color: #fff;
	background-color: #727782;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7d828c), to(#606572)); 
	background-image: -webkit-linear-gradient(top, #7d828c, #606572); 
	background-image:    -moz-linear-gradient(top, #7d828c, #606572); 
	background-image:     -ms-linear-gradient(top, #7d828c, #606572); 
	background-image:      -o-linear-gradient(top, #7d828c, #606572); 
	background-image:         linear-gradient(top, #7d828c, #606572);
	        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7d828c', EndColorStr='#606572'); 
  
	border: 1px solid #5e6476;
  -webkit-box-shadow: inset 0 1px 0 #a2aab7;
  -moz-box-shadow: inset 0 1px 0 #a2aab7;
  box-shadow: inset 0 1px 0 #a2aab7;
}

.primary:hover { 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#717681), to(#5b616e)); 
	background-image: -webkit-linear-gradient(top, #717681, #5b616e); 
	background-image:    -moz-linear-gradient(top, #717681, #5b616e); 
	background-image:     -ms-linear-gradient(top, #717681, #5b616e); 
	background-image:      -o-linear-gradient(top, #717681, #5b616e); 
	background-image:         linear-gradient(top, #717681, #5b616e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#717681', EndColorStr='#5b616e'); 
	color: #fff;
	border: 1px solid #5e6476;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.primary:active { 
	-moz-box-shadow: inset 0 0 8px 4px #5b616e, 0 1px 0 0 #888;
	-webkit-box-shadow: inset 0 0 8px 4px #5b616e, 0 1px 0 0 #888;
	box-shadow: inset 0 0 8px 4px #5b616e, 0 1px 0 0 #888; 
	border-color: #525869; 
}